body {
    background-color: #f0f0f0;
    color: #333;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0; 
    padding: 20px;
    
}

h2 {
    color:black
}

h3.delete{
    color:red
}


