body {
    background-color: white;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.control-label col-md-2 {
    color: white !important
}

.text {
    color: white
}
.btn btn-secondary bt-li{
    color:white
}
a {
    color: black
}
.col-form-label{
    color:black
}
.form-actions .btn btn-back {
    color: black !important
}
.control-label {
    color: black
}
.btn btn-primary text-light{
    color:white !important
}

.but{
    color:white
}