body {
    background-color: #f0f0f0;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0; 
    padding: 20px;
    
}

h2 {
    color:black
}



.text{
    color:white
}

a{
    color:white
}