*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg,rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(0,212,255,1) 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    width: 24%;
    background-color: white;
    padding: 50px;
    border-radius: 18px;
    margin-top: 150px;
}

.btn-primary {
    width: 100%;
    border: none;
    border-radius: 50px;
    margin-top: 150px;
    background: linear-gradient(90deg,rgba(2,0,36,1) 0%, rgba(75,14,154,1) 35%, rgba(0,212,255,1) 100%);
}

h4 {
    font-size: 2rem !important;
    font-weight: 700;
}

.control-label col-md-2 {
    font-family: 'Franklin Gothic' !important;
}
