@model ProjectManagementMVC.ViewModels.RoleDetailsVM

@{
    ViewBag.Title = "Details";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Lists.css">
    <link rel="stylesheet" href="~/css/RoleCss/DetailsRole.css">
</head>

<body>
    <div class="container">
        <h2>Details</h2>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                <dd>@Html.DisplayFor(model => model.Name)</dd>
            </dl>
        </div>
        <div class="actions">
            <p>
                @if (!User.IsInRole("Employee"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                }
                <a href="@Url.Action("List")" class="btn btn-secondary">Back to List</a>
            </p>
        </div>
    </div>
</body>