@model ProjectManagementMVC.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form id="registerForm" method="post">
            @Html.AntiForgeryToken()
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-center mb-3">
                <label asp-for="FirstName">First Name</label>
                <input class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="LastName">Last Name</label>
                <input class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="Username">Username</label>
                <input class="form-control" autocomplete="username" asp-for="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="Email">Email</label>
                <input class="form-control" autocomplete="email" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="Password">Password</label>
                <input class="form-control" type="password" autocomplete="new-password" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>