@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Lists.css">
    <link rel="stylesheet" href="~/css/HomeCss/ListHome.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Home</h1>
        <p>Welcome to the place where successful project management becomes a reality. Whether you are an experienced project manager, a newcomer to the field, or a business leader, our platform is designed to help you achieve your goals in the most efficient way.</p>
    </div>
</body>