@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Lists.css">
    <link rel="stylesheet" href="~/css/HomeCss/ListPrivacy.css">
</head>
<body>
    <div class="text-center">
        <h1>Privacy Policy</h1>

        <p>
            Introduction - 
            Our site is committed to protecting your privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website, including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the “Site”). Please read this privacy policy carefully. If you do not agree with the terms of this privacy policy, please do not access the site.
        </p>
        <br />
        <p>
            Use of Your Information - 
            Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about you via the Site to:
            Create and manage your account.
            Process your transactions and send related information, such as transaction confirmations and invoices.
            Email you regarding your account or order.
            Fulfill and manage purchases, orders, payments, and other transactions related to the Site.
            Generate a personal profile about you to make future visits to the Site more personalized.
            Increase the efficiency and operation of the Site.
            Monitor and analyze usage and trends to improve your experience with the Site.
            Offer new products, services, and/or recommendations to you.
            Perform other business activities as needed.
        Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.</p>
        <br />
    </div>
</body>