@{
    ViewData["Title"] = "Privacy Policy";
}

<link rel="stylesheet" href="~/css/Privacy.css">

<body>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
</body>